<ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- game iframe chosen by the mode (live manual control, periodic programming)-->
  <iframe *ngIf="mode == 'live'" #game src="/assets/game.html"></iframe>
  <iframe *ngIf="mode == 'periodic'" #game src="/assets/game-periodic.html"></iframe>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="waitingToStart" id="logoContainer">
          <ion-img id="logo" src="/assets/images/Logo.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="waitingToStart" class="screen-center">
          <ion-button (click)="startButton();"><ion-icon slot="start" name="play-circle-outline"></ion-icon>Start Game</ion-button>
        </div>
        <div *ngIf="waitingToProgram" class="screen-center">
          <ion-text color="primary"><h1>What should the dragon do next?</h1></ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- gui buttons -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-text id="score">Score: {{score}}</ion-text>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="resetButton();">
      <ion-icon name="refresh-outline">Reset Game</ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="pauseButton();" *ngIf="mode == 'live'">
      <ion-icon name="pause-circle-outline">Pause</ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="debugButton();">
      <ion-icon name="analytics-outline">Debug</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="mode == 'periodic'">
  <ion-grid>
    <ion-row>
      <ion-col size="1" *ngFor="let instruction of programInstructions">
        <ion-img src="/assets/images/arrow-circle-{{ instruction }}.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
