<ion-header>
  <ion-toolbar>
    <ion-title>AR Flappy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- click to start -->
  <ion-fab *ngIf="waitingToStart" vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button (click)="startButton();">
      <ion-icon name="play-circle-outline">Start Game</ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- game iframe -->
  <iframe #game src="/assets/game.html"></iframe>
  <!-- gui buttons -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-text>Score: {{score}}</ion-text>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="resetButton();">
      <ion-icon name="refresh-outline">Reset Game</ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="pauseButton();">
      <ion-icon name="pause-circle-outline">Pause</ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="debugButton();">
      <ion-icon name="analytics-outline">Debug</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
